block lasRailroad
    .panel.panel-default
        .panel-heading(role='tab', id='jobHeading6')
            h4.panel-title(role="button", data-toggle="collapse", data-parent="#accordion6", href="#job6" aria-expanded="true", aria-controls="job6") 
                .row
                    .col-xs-5.col-md-3
                        .bold WATCO LAS Rail Road
                    .col-xs-6.col-xs-offset-1.col-md-2.col-md-offset-7.text-right Minden, LA
                .row
                    .col-xs-6.col-md-3 Mechanist
                    .col-xs-6.col-md-3.col-md-offset-6.text-right June 2009 – September 2012
                
        .panel-collapse.collapse(id='job6', role='tablist', aria-labelledby='jobHeading6')
            .panel-body.grey.lighten-4.p
                ul
                    li FRA Inspections on Loco
                    li Welding on Loco
                    li Adherence to all Federal and company safety policies procedures.
                    li Doing  MO3, MO12, MO36 Inspections
                    li Change out power packs
                    li Wheel Report
                    li Change out brake shoes
                    li Aux Gen. and Main Gen. Change out
                    li Air Trouble Shooting