.panel.panel-default
	.panel-heading(role='tab', id='jobHeadingMall')
		.h4.panel-title(role="button", data-toggle="collapse", data-parent="#accordionMall", href="#jobMall", aria-expanded="false", aria-controls="jobMall")
			.row
				.col-xs-6.col-md-3 
					.bold 
						|Pierre Bossier Mall
				.col-xs-6.col-md-2.col-md-offset-7.text-right 
					|Bossier City, LA
			.row
				.col-xs-6.col-md-2 
					|Security Officer
				.col-xs-6.col-md-3.col-md-offset-7.text-right 
					|January 2014 to Present
			
	.panel-collapse.collapse(id='jobMall', role='tablist', aria-labelledby='jobHeadingMall')
		.panel-body.grey.lighten-4
			

			.panel-group(id='accordion1', role='tablist', aria-multiselectable='false')

				ul
					li Welcome guest to the facility.
					li Ensure the facility is provided with high quality security services to protect people and property questions and assists guests and the employees of the facility.
					li Remain flexible to ever changing environment that the location holds.
					li Patrol the facility via foot patrols, vehicle patrols, and surveillance patrols.
					li Monitor closed circuit television systems and alarms.
					li Keep a close relationship with the facility management to assure that they are well then care of.
					li Write extremely detailed reports dealing with all instances.
					li Log into a database all daily activity for the facility.
					li Write training materials.
					li Trained new hires.
					li Write training material. 
					li Trained new hires.