.panel.panel-default
    .panel-heading(role='tab', id='jobHeading4')
        .h4.panel-title(role="button", data-toggle="collapse", data-parent="#accordion4", href="#job8" aria-expanded="true", aria-controls="job8")
            .row
                .col-xs-4.col-md-3
                    .bold xententLABS
                .col-xs-6.col-xs-offset-2.col-md-2.col-md-offset-7.text-right Bossier City, LA
            .row
                .col-xs-3.col-md-3 Intern
                .col-xs-9.col-md-3.col-md-offset-6.text-right  January 2016 – May 2014

    .panel-collapse.collapse(id='job8', role='tablist', aria-labelledby='jobHeading4')
        .panel-body.grey.lighten-4.p
            ul
                li Agile Development
                li Source Code Management
                li Cross-platform Software Development
                li Database Design and Management
                li Software Quality Assurance