block jumbotron
  .jumbotron
    .container
      .title-jumbotron 
        .center.profile.blue-text.text-lighten-2
          .title Justin Frasier
            img.img-circle(id='profile-picture', src='photo/justin.jpg', alt='Justin Frasier picture')