block temp
    .panel.panel-default
        .panel-heading(role='tab', id='heading6')
            .h3.panel-title(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapse6" aria-expanded="true", aria-controls="collapse6" )
                .topic
                    .bold.head.blue-text.text-lighten-2 
                        |Temp
        .panel-collapse.collapse(id='collapse6', role='tablist', aria-labelledby='heading6')
            .panel-body.grey.lighten-4
                img.logo-large(src="svg/android.svg", alt="android logo")
                img.logo-large(src="svg/bootstrap-4.svg", alt="Bootstrap logo")
                img.logo-large(src="svg/codepen.svg", alt="Codepen logo")
                img.logo-large(src="svg/css3.svg", alt="CSS3 logo")
                img.logo-large(src="svg/atom-4.svg", alt="Atom logo")
                img.logo-large(src="svg/eclipse-11.svg", alt="eclipse logo")
                img.logo-large(src="svg/raspberry-pi.svg", alt="Raspberry-pi logo")
                img.logo-large(src="svg/slack.svg", alt="Slack logo")
                img.logo-large(src="svg/stackoverflow-com.svg", alt="StackOverFlow logo")
                img.logo-large(src="svg/svg-1.svg", alt="SVG logo")
                img.logo-large(src="svg/trello.svg", alt="Trello logo")
                img.logo-large(src="svg/ubuntu-icon.svg", alt="Ubuntu logo")
                img.logo-large(src="svg/vim.svg", alt="Vim logo")
                img.logo-large(src="svg/w3c-1.svg", alt="W3C logo")
                img.logo-large(src="svg/webstorm.svg", alt="Webstorm logo")
                img.logo-large(src="svg/plex.svg", alt="Plex logo")
                img.logo-large(src="svg/nodejs.svg", alt="Node.js logo")
                img.logo-large(src="svg/netbeans-1.svg", alt="NetBeans logo")
                img.logo-large(src="svg/microsoft-windows-22.svg", alt="Windows logo")
                img.logo-large(src="svg/logo-javascript.svg", alt="JavaScript logo")
                img.logo-large(src="svg/linux-mint.svg", alt="LinuxMint logo")
                img.logo-large(src="svg/java-4.svg", alt="Java logo")
                img.logo-large(src="svg/html5.svg", alt="HTML5 logo")
                img.logo-large(src="svg/intellij-idea.svg", alt="IntelliJ logo")
                img.logo-large(src="svg/gradle.svg", alt="Gradle logo")
                img.logo-large(src="svg/google-hangouts.svg", alt="Google Hangouts logo")
                img.logo-large(src="svg/git-icon.svg", alt="Git logo")
                img.logo-large(src="svg/debian.svg", alt="Debian logo")
                img.logo-large(src="svg/apache-13.svg", alt="Apache logo")
                img.logo-large(src="svg/dropbox-2.svg", alt="DropBox logo")
                img.logo-large(src="svg/google-drive.svg", alt="Google Drive logo")