block certification
    .panel.panel-default
        .panel-heading(role='tab', id='heading4')
            .h3.panel-title(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapse4" aria-expanded="true", aria-controls="collapse4" )
                .topic
                    .bold.head.blue-text.text-lighten-2
                        img.logo-panel(src="svg/certification.svg")
                        |Certification
        .panel-collapse.collapse.in(id='collapse4', role='tablist', aria-labelledby='heading4')
            .panel-body.grey.lighten-4
                .bold Computer Certification:
                ul.list
                    li CompTIA A+
                    li Technical Competency Area in Web Design from Bossier Parish Community College
                 
                .bold Locomotive Certification:
                ul.list
                    li LocoMotive Air Brake from Wabtec
                    li Dash 2 / GP 38 Static / GP 9 / SW 1200 Electrical from Technical Training Consultants
                    li EMD Locomotive Engines from Technical Training Consultants