block kcs
    .panel.panel-default
        .panel-heading(role='tab', id='jobHeading7')
            h4.panel-title(role="button", data-toggle="collapse", data-parent="#accordion7", href="#job7" aria-expanded="true", aria-controls="job7") 
                .row
                    .col-xs-5.col-md-3
                        .bold KCS Railroad
                    .col-xs-6.col-xs-offset-1.col-md-2.col-md-offset-7.text-right Shreveport, LA
                .row
                    .col-xs-6.col-md-3 Labor
                    .col-xs-6.col-md-3.col-md-offset-6.text-right September 2007 – May 2009
                
        .panel-collapse.collapse.in(id='job7', role='tablist', aria-labelledby='jobHeading7')
            .panel-body.grey.lighten-4.p
                ul
                    li Freight locomotive preventative and general maintenance.
                    li Freight locomotive operation.
                    li Adherence to all federal and company safety policies and procedures.