.panel.panel-default
    .panel-heading(role='tab', id='jobHeading4')
        .h4.panel-title(role="button", data-toggle="collapse", data-parent="#accordion4", href="#job4" aria-expanded="true", aria-controls="job4")
            .row
                .col-xs-4.col-md-3
                    .bold Shreveport Handyman
                .col-xs-6.col-xs-offset-2.col-md-2.col-md-offset-7.text-right Bossier City, LA
            .row
                .col-xs-4.col-md-3 General Maintenance & Labor
                .col-xs-8.col-md-3.col-md-offset-6.text-right September 2013 – January 2014

    .panel-collapse.collapse.in(id='job4', role='tablist', aria-labelledby='jobHeading4')
        .panel-body.grey.lighten-4.p
            ul
                li Installation and Maintenance of electrical wiring, receptacles, and junction box
                li Carpentry and building maintenance
                li Plumbing installation and maintenance
                li Drywall and tile installation
                li General Painting
                li Flooring install – Title, VCT