.panel.panel-default
    .panel-heading(role='tab', id='jobHeading3')
        .h4.panel-title(role="button", data-toggle="collapse", data-parent="#accordion3", href="#job3" aria-expanded="true", aria-controls="job3") 
            .row
                .col-xs-7.col-md-4 
                    .bold 
                        |Allied Barton Security Services
                .col-xs-3.col-xs-offset-2.col-md-2.col-md-offset-6.text-right 
                    |Bossier City, LA
            .row
                .col-xs-6.col-md-2 
                    |Security Officer
                .col-xs-6.col-md-4.col-md-offset-6.text-right 
                    |January 2014 – October 2014
                
    .panel-collapse.collapse(id='job3', role='tab', aria-labelledby='jobHeading3')
        .panel-body.grey.lighten-4.p
            
            .bold At Pierre Bossier Mall
            ul
                li Greet guests and employees.
                li Ensure the facility is provided with high quality security services to protect people and propert questions and assists guests and employees.
                li Remain flexible to ever changing environment.
                li Patrol the facility on foot or in a vehicle.
                li Monitor closed circuit television systems and alarms.
            | Lost Contract