.panel.panel-default
    .panel-heading(role='tab', id='jobHeading1')
        .h4.panel-title(role="button", data-toggle="collapse", data-parent="#accordion1", href="#job1" aria-expanded="true", aria-controls="job1") 
            .row
                .col-xs-6.col-md-3 
                    .bold 
                        |Universal Protection
                .col-xs-4.col-xs-offset-2.col-md-2.col-md-offset-7.text-right 
                    |Bossier City, LA
            .row
                .col-xs-6.col-md-2
                    |Security Officer
                .col-xs-6.col-md-3.col-md-offset-7.text-right 
                    |March 2015 to Present
            
    .panel-collapse.collapse(id='job1', role='tab', aria-labelledby='jobHeading1')
        .panel-body.grey.lighten-4
            .p
                .bold At Pierre Bossier Mall
                  
                ul
                    li Greet guests and employees.
                    li Ensure the facility is provided with high quality security services to protect people and property questions and assists guests and employees.
                    li Remain flexible to ever changing environment.
                    li Patrol the facility on foot or in a vehicle.
                    li Monitor closed circuit television systems and alarms.