.panel.panel-default
    .panel-heading(role='tab', id='jobHeading2')
        .h4.panel-title(role="button", data-toggle="collapse", data-parent="#accordion2", href="#job2" aria-expanded="true", aria-controls="job2") 
            .row
                .col-xs-6.col-md-3 
                    .bold Valor Security Services
                .col-xs-4.col-xs-offset-2.col-md-2.col-md-offset-7.text-right Bossier City, LA
            .row
                .col-xs-6.col-md-2 Security Officer
                .col-xs-6.col-md-3.col-md-offset-7.text-right October 2014 – March 2015
            
    .panel-collapse.collapse(id='job2', role='tab', aria-labelledby='jobHeading2')
        .panel-body.grey.lighten-4.p
            
            .bold At Pierre Bossier Mall
            ul
                li Greet guests and employees.
                li Ensure the facility is provided with high quality security services to protect people and propert questions and assists guests and employees.
                li Remain flexible to ever changing environment.
                li Patrol the facility on foot or in a vehicle.
                li Monitor closed circuit television systems and alarms.
            | Was Bought out by Universal Protection