block bpcc
    .panel.panel-default
        .panel-heading(role='tab', id='headingSchoolOne')
            .h4.panel-title(role="button", data-toggle="collapse", data-parent="#accordionSchool", href="#collapseSchoolOne" aria-expanded="false", aria-controls="collapseSchoolOne") 
                .topic
                    .row
                        .col-xs-6.col-md-7.bold
                            |Bossier Parish Community College
                        .col-xs-4.col-xs-offset-2.col-md-3.col-md-offset-2.text-right
                            |2013 - 2016
        .panel-collapse.collapse(id='collapseSchoolOne', role='tablist', aria-labelledby='headingSchoolOne')
            .panel-body.grey.lighten-4.p
                 
                .bold Associate of Cyber Technology, Programmer-Analyst
                .tab Made Dean's List and Chancellor's List.
                
    
                .bold Classes:
                ul.list
                    li Prob Solving & Prog Techniques
                    li Support of Emerging Technology
                    li Intro to C++Programming
                    li Advanced C++ Programming	
                    li Composition & Rhetoric I
                    li College Algebra
                    li Web Design I
                    li Web Scripting I
                    li Intro to Programming with JAVA
                    li Advanced Java Programming
                    li Programming with C#
                    li HTML5/CSS3
                    li Web Application Development
                    li Computer Organization
                    li Relational Database Coding
                    li Introduction to Psychology
                    li Public Speaking
                    li Cyber Internship
                    li Foundation in Science 
                .bold Activities and Societies: 
                ul.list
                    li Cyber Club
                    li Phi Thete Kappa