block northwood
    .panel.panel-default
        .panel-heading(role='tab', id='headingSchool2')
            h4.panel-title(role="button", data-toggle="collapse", data-parent="#accordionSchool", href="#collapseSchool2" aria-expanded="true", aria-controls="collapseSchool2") 
                .topic
                    .row
                        .col-xs-5.bold 
                            |Northwood High School 
                        .col-xs-3.col-xs-offset-4.text-right 
                            |1999 - 2003
        .panel-collapse.collapse(id='collapseSchool2', role='tablist', aria-labelledby='headingSchool2')