block homeDepot
    .panel.panel-default
        .panel-heading(role='tab', id='jobHeading5')
            .h4.panel-title(role="button", data-toggle="collapse", data-parent="#accordion5", href="#job5" aria-expanded="true", aria-controls="job5")
                .row
                    .col-xs-5.col-md-3
                        .bold 
                            |The Home Depot
                    .col-xs-6.col-xs-offset-1.col-md-2.col-md-offset-7.text-right
                        |Bossier City, LA
                .row
                    .col-xs-6.col-md-3 
                        |Flooring Sales Specialist
                    .col-xs-6.col-md-3.col-md-offset-6.text-right 
                        |May 2013 – September 2013
                
        .panel-collapse.collapse(id='job5', role='tablist', aria-labelledby='jobHeading5')
            .panel-body.grey.lighten-4.p
                ul
                    li Manage quotes
                    li Selling floors
                    li Cutting carpet
                    li Cutting blinds
