block contactInfo
    .panel.panel-default
        .panel-heading(role='tab', id='heading5')
            .h3.panel-title(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapse5" aria-expanded="true", aria-controls="collapse4" )
                .topic
                    .bold.head.blue-text.text-lighten-2
                        img.logo-panel(src="svg/phone-call.svg")
                        |Contact Info
        .panel-collapse.collapse(id='collapse5', role='tablist', aria-labelledby='heading5')
            .panel-body.grey.lighten-4

                address
                    .bold Justin Frasier
                    | 3243 Cottonwood St.
                    br
                    | Bossier City, LA 71111
                    br
                    .phone-logo
                        a(href="tel:13185641918")
                            span(class="glyphicon glyphicon-earphone phone", aria-hidden="true")
                    .phone-number
                        a(href="tel:13185641918")
                            |(318)564-1918
                    .email-logo
                        a(href='mailto:justin_frasier@me.com')
                            span(class="glyphicon glyphicon-envelope", aria-hidden='true')
                    .email-text
                        a(href='mailto:justin_frasier@me.com')
                            |  justin_frasier@me.com

                    a(href="https://www.facebook.com/cerealkiller1918", target="_blank")
                        img.logo(src="svg/facebook-3.svg", alt="FaceBook logo")
                    a(href="https://twitter.com/Mclovin1918", target="_blank")
                        img.logo(src="svg/twitter-3.svg", alt="Twitter logo")
                    a(href="https://www.linkedin.com/in/justin-frasier-bb29b8a9", target="_blank")
                        img.logo(src="svg/linkedin-icon.svg", alt="Linkedin logo")
                    a(href="https://github.com/cerealkiller1918", target="_blank")
                        img.logo(src="svg/github-icon.svg", alt="GitHub logo")
                    a(href="skype:chatterboxed1?call")
                        img.logo(src="svg/skype-3.svg", alt="Skype logo")
