footer.navbar.navbar-default.navbar-fixed-bottom.grey.lighten-4
    .container
        .row
            .col-xs-8
                p.navbar-text Site built by: Killer Media Group
            .col-xs-1.col-xs-offset-3
                p
                    a(href="http://getbootstrap.com/", target="_blank")
                        img.bootstrapLogoFooter(src="svg/bootstrap-4.svg", alt="Bootstrap Logo")