.card.grey.lighten-4
    .card-content
        .intro
            |I have many skills that would be valuable to any company and any team that would like to use or need my skills.
            |I am also going to school for an associate for applied science in cyber technology at Bossier Parish Community College.
            |I'm studying computer programming.
            |Programming language C#, Java, HTML, JavaScript, Android, C++, Node.JS, HTML5 & CSS3, Jade and Python.
            |I am CompTIA A+ ce  Certified and PCPro Certified.
            |I am also in the cyber club at Bossier Community College.
            |I have worked in sales at the Home Depot.
            |I worked for a railroad in Minden, LA for three years as a Mechanist.
            |I also worked for KCS railroad as a labor for two and a half.
            |I have tried to learn more and more every day about computer programming.
            |I have been working as a security officer for two and a half years.
            |As a security officer I worked CCTV and I as so worked cases also writing the case report.
            |These are some of my skill sets that are valuable to any team that I could join.
