block skills
    .panel.panel-default
        .panel-heading(role='tab', id='heading3')
            .h4.panel-title(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapse3" aria-expanded="true", aria-controls="collapse3" )
                .topic.bold.head.blue-text.text-lighten-2
                    img.logo-panel(src="svg/screwdriver-and-wrench-crossed.svg")
                    |Skills
        .panel-collapse.collapse(id='collapse3', role='tablist', aria-labelledby='heading3')
            .panel-body.grey.lighten-4

                .bold Computer Skills:
                ul.list
                    li Java
                    li Android Development
                    li C#
                    li C++
                    li C
                    li HTML5 & CSS3
                    li JavaScript
                    li Jade
                    li Pug
                    li Node.js
                    li Python
                    li SQL
                    li Linux
                    li Windows
                    li Arch Linux
                    li Ubuntu
                    li Troubleshooting
                br     
                .bold Security:
                ul.list
                    li Corporate Security
                    li Security Operations
                    li Physical Security
                    li Surveillance
                    li Security Management
                    li Security Training
                    li CCTV
                    li Customer Service
